@font-face {
    font-family: "RBold" ;
    src: url("/public/fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "harry" ;
    src: url("/public/fonts/HARRYP__.TTF");
}

@font-face {
    font-family: "RLigth" ;
    src: url("/public/fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "RRegular" ;
    src: url("/public/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "RSemiB" ;
    src: url("/public/fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "RExtraB" ;
    src: url("/public/fonts/Raleway-ExtraBold.ttf");
}
